/* =========================================
   1. TIPOGRAFÍA MODERNA (Sneaker Style)
   ========================================= */

/* Texto general (Descripciones, precios pequeños) */
body {
    font-family: 'Inter', sans-serif; 
    color: rgb(13, 12, 13); /* Tu color negro suave */
}

/* Títulos, Marca, Botones y Precios Grandes */
h1, h2, h3, h4, h5, h6, .navbar-brand, .btn, .card-title {
    font-family: 'Jost', sans-serif;
    font-weight: 700;        /* Negrita fuerte */
    text-transform: uppercase; /* Todo en mayúsculas estilo Nike */
    letter-spacing: -0.5px;  /* Letras un poco juntas */
}

/* =========================================
   2. TUS ESTILOS ORIGINALES
   ========================================= */

.card-img-top {
    height: 200px;           /* Altura fija */
    object-fit: cover;       /* Recorta la imagen para que no se deforme */
    object-position: center;
}

.hero-banner {
    /* Fondo con tu degradado azul/blanco y la imagen del logo */
    /* NOTA: Si el CSS está en la carpeta 'css/', quizás necesites poner '../fotos/LOGO3.png' */
    background: linear-gradient(rgba(87, 146, 247, 0.5), rgba(248, 245, 250, 0.5)), url('');
    
    background-size: cover;
    background-position: center;
    color: rgb(13, 12, 13);
    padding: 80px 0;
    text-align: center;
    margin-bottom: 40px;
}
/* --- Estilos para Ver Producto  --- */
.producto-detalle-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 400px;
}

.producto-detalle-container img {
    max-height: 400px;
    object-fit: contain;
    mix-blend-mode: multiply; /* Efecto transparencia en fondo gris */
}

/* --- Estilos para Panel Admin  --- */
.admin-thumb {
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
    border-radius: 5px;
}

/* --- Estilos para Carrito  --- */
.carrito-col-cantidad {
    width: 160px;
}


.carrito-btn-accion {
    width: 30px;
}
/* --- Personalización del botón "Ver más detalles" --- */
.btn-detalle {
    /* 1. CONFIGURACIÓN DEL COLOR*/
    color: #7f06d5 !important;        
    border-color: #7f06d5 !important; 

    /* 2. DISEÑO DEL BORDE */
    border-width: 2px !important;    
    border-radius: 50px !important;  
    
    font-weight: bold;               
    transition: all 0.3s ease;       
}

/* Efecto al pasar el ratón (Hover) */
.btn-detalle:hover {
    /* Fondo se rellena del mismo color */
    background-color: #7f06d5 !important; 
    color: white !important;             
    transform: scale(1.05);               /* Efecto lupa */
}
